<%- include ('header') %>
<%- include ('nav') %>

<div class="container about-page">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 page-header">
      <h2>About METACRAN</h2>
    </div>
    <div class="col-md-8 col-md-offset-2">

      <h3>What is METACRAN?</h3>
      <p>METACRAN is a (somewhat integrated) collection of small services
	around the <a href="http://cran.r-project.org">CRAN</a> repository
	of R packages. It contains this website,
	a <a href="http://github.com/cran">mirror at GitHub</a>,
	a <a href="http://github.com/metacran/crandb">database with API</a>,
	<a href="http://github.com/metacran/seer">package search</a>,
	<a href="https://github.com/metacran/cranlogs.app">database of
	  package downloads</a> (from the RStudio mirror),
	<a href="https://github.com/metacran/r-builder">tools to check R
	  packages on GitHub</a>, etc.
      </p>
      <p>
	See the menu on top for the complete list.
      </p>
      <p>
	METACRAN is not a CRAN project. No METACRAN
	services use any of the CRAN mirrors or other CRAN
	infrastructure, other than downloading new and updated
	packages and other files.
      </p>
      <p>
	METACRAN is not a separate R package repository. It contains
	exactly the same packages as CRAN itself.
      </p>

      <h3>Contribute</h3>
      <p>
	Yes, please! METACRAN is developed completely
	in the open. All code and files are on Github at
	<a href="https://github.com/metacran">https://github.com/metacran
	</a>.
      </p>
      <h3>Report bugs</h3>
      <p>
	Found an error on this web site? Really sorry about it.
	Please report it in the
	<a href="https://github.com/metacran/metacranweb/issues">issue
	  tracker</a>. Pull requests are also more than welcome.
      </p>
      <p>
	Found a METACRAN bug? METACRAN projects have issue trackers,
	see the <a href="https://github.com/metacran">list of projects on
	  GitHub.</a> If you can't choose a project, use
	<a href="https://github.com/metacran/metacran">this one.</a>
      </p>
      <h3>Code, design, ideas, etc,</h3>
      <p>
	Are all welcome! Send pull requests or just open issues please.
      </p>

    </div>
  </div>
</div>

<%- include ('links') %>
<%- include ('footer') %>
