<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>R links</h3>
      <a href=""><h4>R homepage</h4></a>
      <a href=""><h4>Download R</h4></a>
      <a href=""><h4>Mailing lists</h4></a>
    </div>
    <div class="col-md-3">
      <h3>R documentation</h3>
      <a href=""><h4>R manuals</h4></a>
      <a href=""><h4>R FAQs</h4></a>
      <a href=""><h4>The R Journal</h4></a>
    </div>
    <div class="col-md-3">
      <h3>CRAN links</h3>
      <a href=""><h4>CRAN homepage</h4></a>
      <a href=""><h4>CRAN repository policy</h4></a>
      <a href=""><h4>Submit a package</h4></a>
    </div>
    <div class="col-md-3">
      <h3>METACRAN stuff</h3>
      <a href=""><h4>About METACRAN</h4></a>
      <a href=""><h4>At github</h4></a>
      <a href=""><h4>Report a bug</h4></a>
    </div>
  </div>
</div>
