<!---- -*- mode: html -*-  --->

<div class="container bottom-links">
  <hr>
  <div class="row">
    <div class="col-md-3">
      <h3>R links</h3>
      <a href="http://www.r-project.org"><h4>R homepage</h4></a>
      <a href="http://cran.r-project.org"><h4>Download R</h4></a>
      <a href="http://www.r-project.org/mail.html"><h4>Mailing lists</h4></a>
    </div>
    <div class="col-md-3">
      <h3>R documentation</h3>
      <a href="http://cran.r-project.org/manuals.html"><h4>R manuals</h4></a>
      <a href="http://cran.r-project.org/faqs.html"><h4>R FAQs</h4></a>
      <a href="http://journal.r-project.org/"><h4>The R Journal</h4></a>
    </div>
    <div class="col-md-3">
      <h3>CRAN links</h3>
      <a href="http://cran.r-project.com"><h4>CRAN homepage</h4></a>
      <a href="http://cran.r-project.org/web/packages/policies.html">
         <h4>CRAN repository policy</h4></a>
      <a href="http://xmpalantir.wu.ac.at/cransubmit/">
         <h4>Submit a package</h4></a>
    </div>
    <div class="col-md-3">
      <h3>METACRAN stuff</h3>
      <a href="/about"><h4>About METACRAN</h4></a>
      <a href="https://github.com/metacran"><h4>At github</h4></a>
      <a href="https://github.com/metacran/metacranweb/issues">
         <h4>Report a bug</h4></a>
    </div>
  </div>
</div>
