<% include header %>
<% include nav %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <% include person %>
    </div>
    <div class="col-md-9">
      <% include pkglist_result %>
    </div>
  </div>
</div>

<% include links %>
<% include footer %>
