<!---- -*- mode: html -*-  --->

    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container wide-container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">METACRAN</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">

          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown"
		 role="button" aria-expanded="false">Packages
		<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
		<li><a href="/pkglist">All packages</a></li>
		<li class="divider"></li>
		<li><a href="/starred">Most starred on GitHub</a></li>
		<li><a href="/downloaded">Most downloaded</a></li>
		<li><a href="/trending">Trending this week</a></li>
		<li><a href="/depended">Most depended upon</a></li>
		<li><a href="/recent">Recently updated</a></li>
		<li class="divider"></li>
		<li><a href="/ctv">CRAN task views</a></li>
              </ul>
            </li>
	    <li><a href="/maint">Authors</a></li>
	    <li class="dropdown">
	      <a href="" class="dropdown-toggle" data-toggle="dropdown"
		 role="button" aria-expanded="false">Services
		<span class="caret"></span></a>
	      <ul class="dropdown-menu" role="menu">
		<li><a href="/services#github">CRAN @ GitHub</a></li>
		<li><a href="/services#badges">Badges</a></li>
		<li><a href="/services#api">API</a></li>
		<li><a href="/services#crandb">Package database</a></li>
		<li><a href="/services#search">Package search</a></li>
		<li><a href="/services#cranlogs">Download summaries</a></li>
		<li><a href="/services#rbuilder">R package builder</a></li>
	      </ul>
	    </li>
	    <li><a href="/about">About</a></li>
          </ul>
	  <ul class="nav navbar-nav navbar-right">
	    <li><form class="navbar-form navbar-left" role="search" action="/search.html">
		<div class="input-group">
		  <input type="text" class="form-control input"
			 id="cran-input" autofocus="autofocus"
			 placeholder="Search for packages"
			 name="q" size="45">
		  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
		      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
		    </button>
		  </div>
		</div>
	      </form>
	  </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
