<div class="container">
  <h1 class="page-header text-center">Newly added</h1>
  <!-- Example row of columns -->

  <div class="row">
    <div class="col-md-4 text-center">
      <a href="/pkg/RLumShiny"><h2>RLumShiny</h2></a>
      <h4>'Shiny' Applications for the R Package 'Luminescence'</h4>
      <p>0.1.0, published on 2015-03-31, by Christoph Burow</p>
    </div>
    <div class="col-md-4 text-center">
      <a href="/pkg/CARBayesdata"><h2>CARBayesdata</h2></a>
      <h4>Data Sets Used in the Vignette Accompanying the CARBayes Package</h4>
      <p>1.0, published on 2015-03-31, by Duncan Lee</p>
    </div>
    <div class="col-md-4 text-center">
      <a href="/pkg/Rmonkey"><h2>Rmonkey</h2></a>
      <h4>A Survey Monkey R Client</h4>
      <p>0.2.11, published on 2015-03-31, by Thomas J. Leeper</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 text-center">
      <a href="/pkg/orthogonalsplinebasis"><h2>orthogonalsplinebasis</h2></a>
      <h4>Orthogonal B-Spline Basis Functions</h4>
      <p>0.1.6, published on 2015-03-31, by Andrew Redd</p>
    </div>
    <div class="col-md-4 text-center">
      <a href="/pkg/gvc"><h2>gvc</h2></a>
      <h4>Global Value Chains Tools</h4>
      <p>0.2.0, published on 2015-03-31, by Bastiaan Quast</p>
    </div>
    <div class="col-md-4 text-center">
      <a href="/pkg/ConSpline"><h2>ConSpline</h2></a>
      <h4>Partial Linear Least-Squares Regression using Constrained Splines</h4>
      <p>1.0, published on 2015-03-30, by Mary C Meyer</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 text-center">
      <a href="/pkg/TSPred"><h2>TSPred</h2></a>
      <h4>Functions for Baseline-Based Time Series Prediction</h4>
      <p>1.0, published on 2015-03-30, by Rebecca Pontes Salles</p>
    </div>
    <div class="col-md-4 text-center">
      <a href="/pkg/Ake"><h2>Ake</h2></a>
      <h4>Associated Kernel Estimations</h4>
      <p>1.0, published on 2015-03-30, by W. E. Wansouwé</p>
    </div>
    <div class="col-md-4 text-center">
      <a href="/pkg/flowr"><h2>flowr</h2></a>
      <h4>Streamlining Design and Deployment of Complex Workflows</h4>
      <p>0.9.6.5, published on 2015-03-29, by Sahil Seth</p>
    </div>
  </div>

</div>
