<div class="container">
  <h1 class="page-header text-center">Recently updated</h1>
  <!-- Example row of columns -->

  <div class="row">
    <div class="col-md-4 text-center">
      <a href="/pkg/BrailleR"><h2>BrailleR</h2></a>
      <h4>Improved Access for Blind Users</h4>
      <p>0.18-1, published on 2015-03-31, by A. Jonathan R. Godfrey</p>
    </div>
    <div class="col-md-4 text-center">
      <a href="/pkg/mgcv"><h2>mgcv</h2></a>
      <h4>Mixed GAM Computation Vehicle with GCV/AIC/REML Smoothness Estimation</h4>
      <p>1.8-6, published on 2015-03-31, by Simon Wood</p>
    </div>
    <div class="col-md-4 text-center">
      <a href="/pkg/GenSA"><h2>GenSA</h2></a>
      <h4>Functions for Generalized Simulated Annealing</h4>
      <p>1.1.5, published on 2015-03-31, by Sylvain Gubian</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 text-center">
      <a href="/pkg/TSdist"><h2>TSdist</h2></a>
      <h4>Distance Measures for Time Series Data</h4>
      <p>2.1, published on 2015-03-31, by Usue Mori</p>
    </div>
    <div class="col-md-4 text-center">
      <a href="/pkg/shinyBS"><h2>shinyBS</h2></a>
      <h4>Twitter Bootstrap Components for Shiny</h4>
      <p>0.61, published on 2015-03-31, by Eric Bailey</p>
    </div>
    <div class="col-md-4 text-center">
      <a href="/pkg/bayesGDS"><h2>bayesGDS</h2></a>
      <h4>Scalable Rejection Sampling for Bayesian Hierarchical Models</h4>
      <p>0.6.1, published on 2015-03-31, by Michael Braun</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 text-center">
      <a href="/pkg/DatABEL"><h2>DatABEL</h2></a>
      <h4>File-Based Access to Large Matrices Stored on HDD in Binary Format</h4>
      <p>0.9-6, published on 2015-03-31, by Lennart Karssen</p>
    </div>
    <div class="col-md-4 text-center">
      <a href="/pkg/sadists"><h2>sadists</h2></a>
      <h4>Some Additional Distributions</h4>
      <p>0.2.0, published on 2015-03-30, by Steven E. Pav</p>
    </div>
    <div class="col-md-4 text-center">
      <a href="/pkg/MKmisc"><h2>MKmisc</h2></a>
      <h4>Miscellaneous Functions from M. Kohl</h4>
      <p>0.98, published on 2015-03-30, by Matthias Kohl</p>
    </div>
  </div>

</div>
