<!---- -*- mode: html -*-  --->

<div class="container wide-container">
  <h1 class="page-header text-center">
    <a href="/recent" data-toggle="tooltip" data-placement="right"
       title="Includes new packages as well">
      Recently updated
    </a>
  </h1>
  <%- include('featured', { pkgs: recent }); %>
</div>
