
<div class="jumbotron">
  <div class="row">
    <div class="col-md-2 col-md-offset-1 hidden-xs hidden-sm">
      <a href="/"><img src="/img/metacran-logo.svg" alt="" class="logo"></a>
    </div>
    <div class="col-md-8">
      <p class="search-form">
      <form role="form" class="text-center" action="search.html">
	<div class="form-group">
	  <div class="input-group">
	    <input class="form-control input-lg" id="cran-input"
		   autofocus="autofocus"
		   <% if (typeof q !== 'undefined') { %>
		     value="<%= q %>"
		   <% } %>
		   placeholder="Search for a package name, keywords, people"
		   name="q">
	    <span class="input-group-btn">
	      <button class="btn btn-default btn-lg" type="submit">
		<span class="glyphicon glyphicon-search"></span>
	      </button>
	    </span>
	  </div>
	</div>
      </form>
      </p>
      <p class="text-left" style="padding-left:17px;"><small><em>
	    Examples:
	    <a href="search.html?q=visualization">visualization</a>,
	    <a href="search.html?q=C%2B%2B">C++</a>,
	    <a href="search.html?q=networks">networks</a>,
	    <a href="search.html?q=data%20cleaning">data cleaning</a>,
	    <a href="search.html?q=html%20widgets">html widgets</a>,
	    <a href="search.html?q=ropensci">ropensci</a>.
      </em></small></p>
    </div>
  </div>
</div>
