
<div class="container">
  <div class="row">
    <div class="col-md-12 slogan text-center">
      <h1>
	<strong>METACRAN:</strong>
	Search and browse all <strong>CRAN/R</strong> packages
      </h1>
    </div>
  </div>
</div>
