<!---- -*- mode: html -*-  --->

<div class="container wide-container">
  <h1 class="page-header text-center">
    <a href="/starred" data-toggle="tooltip" data-placement="right"
       title="Most stars on GitHub">
      Featured packages
    </a>
  </h1>
  <%- include('featured', { pkgs: stars }); %>
</div>
