<!---- -*- mode: html -*-  --->

<% include header %>
<% include nav %>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header text-center">CRAN Task Views</h1>
    </div>
  </div>
</div>

<div class="container task-view-list text-center">

  <div class="row">
    <% var i=0; while (i < task_views.length) { %>
    <% if (! (i % 3)) { %></div><div class="row"><% } %>

    <div class="col-sm-4">
      <a href="/ctv/<%= task_views[i].name%>">
	<div class="task-view-well">
	  <p class="task-view-topic">
	    <strong><%= task_views[i].topic %></strong>
	    <br>
	  </p>
	  <p class="task-view-author">
	    <%= task_views[i].maintainer %>
	  </p>
	  <p class="task-view-date">
	    <%= task_views[i].version %>
	  </p>
	</div>
      </a>
    </div>

    <% i++; } %>

  </div>
</div>

<% include links %>
<% include footer %>
