<!---- -*- mode: html -*-  --->

<% include header %>
<% include nav %>

<div class="container wide-container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">CRAN Task Views</h1>
    </div>
  </div>
</div>

<div class="container wide-container task-view-list">

    <% var i=1; while (i < task_views.length) { %>
    <div class="col-lg-6">
      <a href="/ctv/<%= task_views[i].name%>">
	<div class="task-view-well">
	  <h3>
	    <span class="glyphicon glyphicon-book maintlist-icon" aria-hidden="true">
	    </span>
	    <%= task_views[i].topic %>
	  </h3>
	  <p class="task-view-author">
	    <%= task_views[i].maintainer %>
	  </p>
	  <p class="task-view-date">
	    <%= task_views[i].version %>
	  </p>
	</div>
      </a>
    </div>
    <% if (! (i % 2)) { %><div class="clearfix"></div><% } %>

    <% i++; } %>

</div>

<% include links %>
<% include footer %>
