<div class="container">
  <h1 class="page-header text-center">Trending this week</h1>
  <!-- Example row of columns -->

  <div class="row">
    <div class="col-md-4 text-center">
      <a href="/pkg/lintr"><h2>lintr</h2></a>
      <h4>Static R Code Analysis</h4>
      <p>0.2.0, published on 2014-12-01, by Jim Hester</p>
    </div>
    <div class="col-md-4 text-center">
      <a href="/pkg/geosphere"><h2>geosphere</h2></a>
      <h4>Spherical Trigonometry</h4>
      <p>1.3-11, published on 2014-09-09, by Robert J. Hijmans</p>
    </div>
    <div class="col-md-4 text-center">
      <a href="/pkg/ROCR"><h2>ROCR</h2></a>
      <h4>Visualizing the Performance of Scoring Classifiers</h4>
      <p>1.0-7, published on 2015-03-26, by Tobias Sing</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 text-center">
      <a href="/pkg/mice"><h2>mice</h2></a>
      <h4>Multivariate Imputation by Chained Equations</h4>
      <p>2.22, published on 2014-06-11, by Stef van Buuren</p>
    </div>
    <div class="col-md-4 text-center">
      <a href="/pkg/pbkrtest"><h2>pbkrtest</h2></a>
      <h4>Parametric bootstrap and Kenward-Roger-based methods for mixed model comparison</h4>
      <p>0.4-2, published on 2014-11-13, by Søren Højsgaard</p>
    </div>
    <div class="col-md-4 text-center">
      <a href="/pkg/spatial"><h2>spatial</h2></a>
      <h4>Functions for Kriging and Point Pattern Analysis</h4>
      <p>7.3-9, published on 2015-02-11, by Brian Ripley</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 text-center">
      <a href="/pkg/bit64"><h2>bit64</h2></a>
      <h4>A S3 class for vectors of 64bit integers</h4>
      <p>0.9-4, published on 2014-04-09, by Jens Oehlschlägel</p>
    </div>
    <div class="col-md-4 text-center">
      <a href="/pkg/rpart"><h2>rpart</h2></a>
      <h4>Recursive Partitioning and Regression Trees</h4>
      <p>4.1-9, published on 2015-02-24, by Brian Ripley</p>
    </div>
    <div class="col-md-4 text-center">
      <a href="/pkg/codetools"><h2>codetools</h2></a>
      <h4>Code Analysis Tools for R</h4>
      <p>0.2-11, published on 2015-03-10, by Luke Tierney</p>
    </div>
  </div>

</div>
