<% include header %>
<% include nav %>

<div class="jumbotron">
  <div class="row">
    <div class="col-md-12 text-center page-header">
      <h1>This part is still under construction</h1>
      <h2>Please come back later</h2>
    </div>
  </div>
</div>

<% include links %>
<% include footer %>
