

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.page-header {
    color: #cb3837;
}

.page-header a {
    color: #cb3837;
}

.page-header a:visited {
    color: #cb3837;
}

.index-numbers a, .index-numbers a:visited {
    color: #000;
}

.logo, .logo-small {
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
}

.jumbotron {
    padding-top: 0px;
    padding-bottom: 0px;
}

@media (min-width: 1200px) {
    .logo {
	width: 200px;
	height: auto;
    }
    .logo-small {
	width: 100px;
	height: auto;
    }
}

@media (max-width: 1199px) {
    .logo {
	width: 140px;
	height: auto;
    }
    .logo-small {
	width: 70px;
	height: auto;
    }
}

@media (min-width: 1200px) {
    .container {
	width: 80%;
    }
}

.alphatitle {
    color: #222;
    font-size: 90%;
    line-height: 100%;
}

p.alphatitle {
    margin-bottom: 5px;
}

.description {
    color: #555;
    font-size: 80%;
    margin-bottom: 5px;
}

.package {
    margin-bottom: 40px;
    font-size: 140%;
}

.packagetitle {
    font-size: 140%;
    color: "#00f";
}

.packageauthor {
    color: #888;
    font-style: italic;
    font-size: 90%;
    padding-left: 10px;
    padding-top: 10px;
}

.packageurl {
    font-size: 75%;
}

.install-package {
    margin-top: 53px;
    font-family: monospace;
}

.package-page {
    font-size: 130%;
}

.package-sidebar {
    padding-left: 30px;
}

.bottom-links {
    margin-top: 100px;
}

#readme pre {
    border: 0px;
}

#tabpanel {
    margin-top: 70px;
}

#tabpanel .tab-content {
    padding-left: 10px;
}

.package-main .page-header {
    font-size: 300%;
}

.tab-pane {
    margin-top: 10px;
}

.index-number {
    font-size: 140%;
}

.slogan {
    margin-top: 10px;
    margin-bottom: 20px;
}

.index-number .glyphicon {
    font-size: 1.6em;
    float: left;
    padding-right: 5px;
    padding-top: 5px;
}

.index-number {
    display: block;
    white-space: nowrap;
}

.about-page {
    font-size: 1.2em;
}

.about-page p {
    padding-left: 20px;
    margin-bottom: 20px;
}

#Manual {
    height: 1000px;
    border: 0px;
}

.maint-list h3 a {
    color: #000;
}

.maint-list h3 a:visited {
    color: #777;
}

.packagelist h3 a {
    color: #000;
}

.packagelist h3 a:visited {
    color: #777;
}

.no-search-hits, .yes-search-hits {
    font-size: 1.5em;
}

.maint-box {
    margin-top: 90px;
}

.maint-data {
    margin-top: 20px;
    font-size: 1.2em;
}

.page-header .pkg-icons {
    margin-top: 10px;
}

.page-header .pkg-icons a {
    color: #555;
}

p.note {
    color: #888;
}

.task-view-left {
    padding-right: 30px;
    border-right: 1px solid;
    border-color: #eee;
}

.bottom-note {
    margin-top: 30px;
}

.task-view-list a {
    color: #000;
}

.task-view-list a:visited {
    color: #777;
}

.task-view-well {
    padding-bottom: 30px;
}

.task-view-topic {
    font-size: 130%;
}

.task-view-author {
    color: #000;
}

.task-view-date {
    color: #555;
}

.task-view-list p {
    padding-left: 27px;
}

.package-icon {
    color: #999;
    font-size: 80%;
}

.package-list-item p {
    padding-left: 27px;
}

.package-list-item {
    margin-bottom: 20px;
}

.wide-container {
    margin-right: 0px;
    margin-left: 0px;
    width: auto;
}

@media (min-width: 800px) {
    .wide-container {
	margin-right: 50px;
	margin-left: 50px;
	width: auto;
    }
}

@media (min-width: 1200px) {
    .wide-container {
	margin-right: 150px;
	margin-left: 150px;
	width: auto;
    }
}

.package-list-dateline {
    color: #999;
    font-size: 80%;
}

.packagelist p {
    margin-bottom: 2px;
}

.maintlist-icon {
    color: #999;
    font-size: 80%;
}

.maintlist-box {
    padding-left: 0px;
}

.maintlist-box p {
    padding-left: 27px;
    max-width: 450px;
}

.next-button {
    padding-left: 40px;
}

.maint-span {
    white-space: nowrap;
}

.readme-badge {
    display: none;
}

.package-name-title {
    font-size: 100%;
}

#readme img {
    max-width: 100%;
}
