

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.page-header {
    color: #cb3837;
}

.page-header a {
    color: #cb3837;
}

.page-header a:visited {
    color: #cb3837;
}

.index-numbers a, .index-numbers a:visited {
    color: #000;
}

.logo, .logo-small {
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
}

.jumbotron {
    padding-top: 0px;
    padding-bottom: 0px;
}

@media (min-width: 1200px) {
    .logo {
	width: 200px;
	height: auto;
    }
    .logo-small {
	width: 100px;
	height: auto;
    }
}

@media (max-width: 1199px) {
    .logo {
	width: 140px;
	height: auto;
    }
    .logo-small {
	width: 70px;
	height: auto;
    }
}

@media (min-width: 1200px) {
    .container {
	width: 80%;
    }
}

.alphatitle {
    color: #222;
    font-size: 90%;
    line-height: 100%;
}

p.alphatitle {
    margin-bottom: 5px;
}

.description {
    color: #555;
    font-size: 80%;
    margin-bottom: 5px;
}

.package {
    margin-bottom: 40px;
    font-size: 140%;
}

.packagetitle {
    font-size: 140%;
    color: "#00f";
}

.packageauthor {
    color: #888;
    font-style: italic;
    font-size: 90%;
    padding-left: 10px;
    padding-top: 10px;
}

.packageurl {
    font-size: 75%;
}

.install-package {
    margin-top: 53px;
    font-family: monospace;
}

.package-page {
    font-size: 130%;
}

.package-sidebar {
    padding-left: 30px;
}

.bottom-links {
    margin-top: 100px;
}

#readme pre {
    border: 0px;
}

#readme h1 {
    font-size: 130%;
}

#readme h2 {
    font-size: 115%;
}

#readme h3,h4,h5,h6,h7 {
    font-size: 100%;
}

#tabpanel {
    margin-top: 70px;
}

#tabpanel .tab-content {
    padding-left: 10px;
}

.package-main .page-header {
    font-size: 300%;
}

.tab-pane {
    margin-top: 10px;
}

.index-number {
    font-size: 140%;
}

.slogan {
    margin-top: 10px;
    margin-bottom: 20px;
}

.index-number .glyphicon {
    font-size: 1.6em;
    float: left;
    padding-right: 5px;
    padding-top: 5px;
}

.index-number {
    display: block;
    white-space: nowrap;
}

.about-page {
    font-size: 1.2em;
}

.about-page p {
    padding-left: 20px;
    margin-bottom: 20px;
}

#Manual {
    height: 1000px;
    border: 0px;
}

.maint-list h3 a {
    color: #000;
}

.maint-list h3 a:visited {
    color: #000;
}

.no-search-hits, .yes-search-hits {
    font-size: 1.5em;
}

.maint-box {
    margin-top: 90px;
}

.maint-data {
    margin-top: 20px;
    font-size: 1.2em;
}

.page-header .pkg-icons {
    margin-top: 10px;
}

.page-header .pkg-icons a {
    color: #555;
}

p.note {
    color: #888;
}

.task-view-list-item {
    margin-bottom: 40px;
    font-size: 1.2em;
}

.task-view-list-item img {
    display: block;
    margin: auto;
    margin-top: 20px;
}

.task-view-list-item h3 small,
.task-view-page h2 small {
    white-space: nowrap;
}

.task-view-page {
    font-size: 1.2em;
}

.task-view-back {
    margin-top: 20px;
}

.task-view-image {
    width: 100%;
    margin: 0px;
}

.task-view-title {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 110%;
    line-height: 110%;
}

.task-view-title a {
    color: #000;
}

.task-view-title-author {
    margin-left: 10px;
    margin-right: 10px;
    color: #cb3837;
}

.task-view-title-time {
    margin-left: 10px;
    margin-right: 10px;
    color: #555;
}

.task-view-list {

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.task-item {
    width: 16%;
    padding: 0.625rem; /* 10 */

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.task-item-inner {
    background-color: #eee;
    width: 100%;
    color: #474d51;
    overflow: hidden;

    -webkit-box-shadow: 0 0.125rem 0.313rem rgba( 0, 0, 0, .2 ); /* 2 5 */
    box-shadow: 0 0.125rem 0.313rem rgba( 0, 0, 0, .2 ); /* 2 5 */
}

.task-item img {
    width: 100%;
    display: block;
}

@media screen and ( max-width: 60em ) {
    .task-item {
	width: 19%;
    }
    @supports ( display: -webkit-flex ) or ( display: -ms-flex ) or ( display: flex ) {
	html.no-js .task-item {
	    width: 19%;
	}
    }
}

@media screen and ( max-width: 50em ) {
    .task-item {
	width: 24%;
    }
    @supports ( display: -webkit-flex ) or ( display: -ms-flex ) or ( display: flex ) {
	html.no-js .task-item {
	    width: 24%;
	}
    }
}


@media screen and ( max-width: 40em ) {
    .task-item {
	width: 33%;
    }
    @supports ( display: -webkit-flex ) or ( display: -ms-flex ) or ( display: flex ) {
	html.no-js .task-item {
	    width: 33%;
	}
    }
}

@media screen and ( max-width: 30em ) {
    .task-item  {
	width: 49%;
    }
    @supports ( display: -webkit-flex ) or ( display: -ms-flex ) or ( display: flex ) {
	html.no-js .task-item {
	    width: 49%;
	}
    }
}

@media screen and ( max-width: 20em ) {
    .task-item  {
	width: 100%;
	float: none;
    }
    @supports ( display: -webkit-flex ) or ( display: -ms-flex ) or ( display: flex ) {
	html.no-js .task-item {
	    width: 100%;
	}
    }
    html.no-js .task-item img {
	max-width: none;
	float: none;
	margin-left: 0;
    }
}
