body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.orcid::before {
  background-image: url(/img/orcid.svg);
  background-size: 18px 18px;
  display: inline-block;
  content: "";
  margin: 0 3px 0 3px;
  width: 18px;
  height: 18px;
}
